@import "vars"

body
	background $mainBackground
	
.hidden
	display none
	
.pointer
	cursor pointer
	
.clearfix
	clear both
	
.main-content
	box-shadow -5px 0 5px #888
	position absolute
	bottom 0
	right 0
	left 0
	top 0
	
.map-panel
	height 100%
	width 100%
	
@import "map"