@import "vars"

.app-menu
	background-color $theme
	position absolute
	width 280px
	bottom 0
	left 0
	top 0

.menu-button
	border-radius(5px)
	position absolute
	text-align center
	background white
	font-size 21px
	height 32px
	width 32px
	left 10px
	z-index 5
	top 10px